@using Hasici.Web


<!DOCTYPE HTML>
<!--
    Editorial by HTML5 UP
    html5up.net |
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->


<html>
<head>

    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <environment>
        <link rel="stylesheet" href="~/assets/css/main.css" />
    </environment>

    

</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <a asp-controller="Home" asp-action="Index" class="logo">Dobrovoľný hasičský zbor <strong>Suchá Hora</strong></a>
                    <ul class="icons">
                        <li><a href="https://www.facebook.com/hasicish/" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    </ul>
                </header>

                @RenderBody()
                
            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">
            <div class="inner">
                <nav id="menu">

                    @await Component.InvokeAsync(nameof(UserPanel))
                    
                    <hr />
                    <!-- Menu -->

                    <header class="major">
                        <h2>Menu</h2>
                    </header>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Domov</a></li>
                        <li><a asp-controller="Home" asp-action="About">Zásahy</a></li>
                        <li>
                            <span class="opener">Šport</span>
                            <ul>
                                <li><a href="#">HOHL</a></li>
                                <li><a href="#">Mládež</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Fotogaléria</a></li>
                        <li><a href="#">Členovia</a></li>
                        <li><a href="#">História</a></li>
                    </ul>
                </nav>


                <!-- Section -->
                <section>
                    <header class="major">
                        <h2>Info a kontakt</h2>
                    </header>
                    <p>Dobrovoľný hasičský zbor Suchá Hora bol založený v roku 1924.Zakladajúci členovia si zvolili za svojho prvého predsedu Jána Trojana a veliteľa Karla Kuřila. V súčasnosti je predseda DHZ Suchá Hora Karol Trojan a veliteľ Martin Šuvada.</p>
                    <ul class="contact">
                        <li class="fa-envelope-o"><a href="#">information@untitled.tld</a></li>
                        <li class="fa-phone">+42109675324</li>
                        <li class="fa-home">
                            Dobrovoľný hasičský zbor Suchá Hora<br />
                            027 13 Suchá Hora 113
                        </li>
                    </ul>
                </section>

                <!-- Footer -->
                <footer id="footer">
                    <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
                </footer>

            </div>
        </div>

    </div>

    <!-- Scripts -->
    <environment>
        <script src="~/assets/js/jquery.min.js"></script>
        <script src="~/assets/js/browser.min.js"></script>
        <script src="~/assets/js/breakpoints.min.js"></script>
        <script src="~/assets/js/util.js"></script>
        <script src="~/assets/js/main.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)


</body>
</html>
