@model Hasici.Web.Article

@{
    ViewData["Title"] = "Nový článok";
}

@section scripts
    {
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script src="@Url.Content("~/assets/js/initTinyMCE().js")"></script>
}




<form asp-action="Create">

    <div class="row gtr-uniform">
        <!--Input for title-->
        <div class="col-12">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <!--Textarea for content-->
        <div class="col-12">
            <label asp-for="Content" class="control-label"></label>
            <textarea asp-for="Content" rows="15" placeholder="Môžete začať písat..."></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <!--Chekbox, to be published -->
        <div class="col-12">

            @Html.CheckBoxFor(m => m.Publised)
            <label for="Publised">Publikovať</label>
        </div>

        <!--"Save" button-->
        <div class="col-12">
            <ul class="actions">
                <li><input type="submit" value="Vytvoriť" class="button primary" /></li>
                <li><a asp-action="Index" class="button">Späť</a></li>
            </ul>
        </div>
      
    </div>
</form>


