@model Hasici.Web.Article



<div>
    <h1>@Html.DisplayFor(model => model.Title)</h1>
    <hr />

    @Html.Raw(Model.Content)

</div>
<div>
    <a asp-controller="Home" asp-action="Index" class="button actions">Späť</a>
</div>
