@model IEnumerable<Article>






<section>
    <header class="major">
        <h2>@ViewData["Title_2"]</h2>
    </header>
    <div class="posts">
        @foreach (var article in Model)
        {
            <article>

                <a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
                <h3>@Html.DisplayFor(m => article.Title)</h3>
                @Html.Raw(article.Preview)                

             
                    <ul class="actions">
                        <li><a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id" class="button">Čítať ďalej</a></li>
                    </ul>
               


            </article>
        }




    </div>
</section>

